{{>nav userData=user}}

<!-- REQUESTS -->
<div class="bg">
    <div class="container pt-3">
        <span>Welcome back {{user.name}}, you have X requests</span>
        {{#each orders as |order|}}
        <div class="card text-center mt-2 mx-auto" style="width: 18rem;">
            <div class="card-body">
                <div>
                    <small>{{order.customer.name}} - {{order.customer.avatar}} - {{order.animal.type}}</small>
                </div>
                <div>
                    <small>{{order.from}}: - {{order.to}}: - </small>
                </div>
                <div>
                    <span> {{order.price}}$</span>
                    <span> X km</span>
                    <span> X min</span>
                </div>
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmation-modal-{{order._id}}">
            Accept
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-sm" id="confirmation-modal-{{order._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Do you want to confirm?
                    </div>
                    <div class="modal-footer">
                        <form action="/orders/{{order.id}}?_method=PATCH" method="POST">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

