{{>nav userData=user}}
<div class="container">
	<h3>Paw Trip Details<h3>
	<div class="card" >
		<!-- Map Display -->
				<div class="container-fluid p-0">
						<div id="googleMapRoute" class="my-0">

						</div>
				</div>
		<div class="card-body">
			<div class="row row-cols-2">
		    <div class="col">
		      <h6 class="card-title">{{order.date}}</h6>
				</div>
				<div class="col text-start">
					<h6 class="card-title ">Price: {{order.price}}$</h6>
				</div>

		    <div class="col ">
		      <h6 class="text-secondary">Car Details: {{order.driver.car.color}}, {{order.driver.car.model}}, {{order.driver.car.plate}} </h6>
		    </div>
				<div class="col ">
				 <h6 class="col text-start">Duration: {{order.duration}} </h6>
			 </div>
		  </div>
		</div>
	</div>

	<div class="card mt-2">
	  <div class="card-body p-2">
			<div class="container">
			  <div class="row">
			    <div class="col-2 mt-1">
						<img
								src="{{order.driver.avatar}}"
								class="rounded-circle img-fluid driver_avatar p-0"
								alt="avatar login"/>
						</div>
			    <div class="col-10 mt-2"><h5>Your Paw Ride with {{order.driver.name}}<h5></div>
			  </div>
	  </div>
	</div>
</div>
